<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.sswy.mapper.ChildcategoryMapper">
<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	<resultMap type="me.sswy.domain.Childcategory" id="fullChildCategory">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="mark" property="mark"/>
		<result column="cover" property="cover"/>
		<collection property="category" select="me.sswy.mapper.CategoryMapper.findCategoryByid" 
			ofType="me.sswy.domain.Category" column="cid"/>
		<collection property="items" select="me.sswy.mapper.ItemMapper.findItemByCcid"
			ofType="me.sswy.domain.Item" column="id"/>
	</resultMap>	
	
	<select id="findChildcategoryByCid" parameterType="java.lang.String" resultMap="fullChildCategory">
		SELECT id ,name ,mark,cid,cover  FROM childcategory WHERE cid=#{value}
	</select>
	
	<select id="childcategoryList" resultMap="fullChildCategory">
		SELECT id ,name ,mark,cid,cover FROM childcategory
	</select>
	
	<select id="findChildcategoryByid" parameterType="java.lang.String" resultMap="fullChildCategory">
		SELECT id ,name ,mark,cid,cover  FROM childcategory WHERE id=#{value}
	</select>
	<select id="findChildcategoryByMark" parameterType="java.lang.String" resultMap="fullChildCategory">
		SELECT id ,name ,mark,cid,cover  FROM childcategory WHERE mark=#{0} AND cid=#{1}
	</select>
	
	
</mapper>